= simple_form_for [@issue, @comment] do |f|

  .input-group
    = f.hidden_field :user_id, value: current_user.id
  .input-group
    / = f.label :body
    = f.cktext_area :body
  .input-group
    = f.hidden_field :issue_id
  %br
    = f.button :submit, 'Save', class: "btn btn-primary"
  %br
  %br
