= simple_form_for [@user,@issue], html: { multipart:true } do |f|
  - if @issue.errors.any?
    #errors
      %p
        = @issue.errors.count
        Prevented your issue from saving
      %ul
        - @issue.errors.full_messages.each do |msg|
          %li= msg

  .input-group
    = f.input :title, input_html: { class: 'form-control' }
  %br
  .input-group
    = f.label :description, class: 'required', input_html: { class: 'form-control' }
    = f.cktext_area :description, rows: 10
  %br
  .input-group
    = f.label :assignee, class: 'required'
    %br
    / = f.collection_select :assignee, User.all, :id, :name, {}, {:multiple => true}
    = f.collection_select :assignee, User.all, :id, :name, {:multiple => :true}
  %br
  .input-group
    = f.label :kind, class: 'required'
    = f.select :kind, Issue::KIND
  %br
  .input-group
    = f.label :priority, class: 'required'
    = f.select :priority, Issue::PRIORITY
  %br
  .input-group
    = f.label :location, class: 'required'
    = f.select :location, Issue::LOCATION
  %br
  .input-group
    = f.label :status
    = f.select :status, Issue::STATUS
  %br
  = f.button :submit, 'Save', class: "btn btn-success inline pull-left"