.panel.panel-default.col-lg-8
  .panel-heading.clearfix
    %h1 Editing issue

    = render 'form'
    / = link_to 'Show', @issue, class: "btn btn-primary"
    &nbsp;&nbsp;
    = link_to 'Back', issues_path, class: "btn btn-primary"
