%h1
  Issues

  = link_to '<i class="glyphicon, glyphicon-plus"></i> New Issue'.html_safe, new_issue_path, class: 'btn btn-default'

%table#table_beautify.display
  %thead
    %tr
      %th Index
      %th Title
      %th Kind
      %th Priority
      %th Assignor
      %th Status
      %th Assignee
      %th Votes
      %th Created at
      %th
      %th
      %th

  %tbody
    - @issues.each do |issue|
      %tr
        %td ##{issue.id}
        %td= issue.title
        %td= issue.kind
        %td= issue.priority
        %td= User.find_by_id(issue.user_id).name
        %td
          %span.label.label-primary= issue.status.upcase
        %td= User.find_by_id(issue.assignee).name
        %td= issue.votes
        %td= issue.created_at.strftime("%d %b. %Y %H:%M")
        %td= link_to 'Show', issue
        %td= link_to 'Edit', edit_issue_path(issue)
        %td= link_to 'Destroy', issue, :method => :delete, :data => { :confirm => 'Are you sure?' }


:coffeescript
  $(document).ready ->
    $("#table_beautify").DataTable()
    return
