.panel.panel-default.col-lg-8
  .panel-heading.clearfix
    %h3.panel-title
      %strong
        = @issue.title.html_safe.capitalize
    .pull-right
      = link_to 'Edit', edit_issue_path(@issue), class: "btn btn-default btn-sm"
      = link_to 'Back', issues_path, class: "btn btn-default btn-sm"
      .pull-right{:style => "margin:80px 0px 20px -40px"}
        .pull-up
          = link_to upvote_issue_path(@issue), method: :put, class: "btn btn-default btn-sm" do
            %span.glyphicon.glyphicon-arrow-up
        %span.badge{:style => "margin:5px 0px 5px 7px"}
          = @issue.votes
        .pull-down
          = link_to downvote_issue_path(@issue), method: :put, class: "btn btn-default btn-sm" do
            %span.glyphicon.glyphicon-arrow-down
    .panel-body
      %div
        / = image_tag @issue.image.url(:large)
      %div
        %strong Description:
        = @issue.description.html_safe
      %div
        %strong Kind:
        = @issue.kind
      %div
        %strong Priority:
        = @issue.priority
      %div
        %strong Assignor:
        = User.find_by_id(@issue.user_id).name
      %div
        %strong Assignee:
        = User.find_by_id(@issue.assignee).name

  %br/
  %br/
  %h4 Comments
  - @comments.each do |comment|
    %div
      .panel.panel-default{:style => "width:17.4cm"}
        .panel-heading.clearfix
          %h3.panel-title.pull-left
            %strong
              = User.find_by_id(comment.user_id).name
            commented :
          .pull-right
            = link_to upvote_issue_comment_path(@issue, comment), method: :put, class: "btn btn-default btn-sm" do
              %span.glyphicon.glyphicon-arrow-up
            %span.badge
              = comment.votes
            = link_to downvote_issue_comment_path(@issue, comment), method: :put, class: "btn btn-default btn-sm" do
              %span.glyphicon.glyphicon-arrow-down
        .panel-body
          .col-lg-9
            = comment.body.html_safe
          .pull-right
            / = link_to edit_issue_comment_path(@issue,comment), class: "btn btn-default btn-sm" do
            /   Edit
            = link_to 'Delete', issue_comment_path(@issue,comment), method: :delete, class: "btn btn-default btn-sm", data: { confirm: 'Are you sure?' }
      %p

  = render 'comments/form'
