!!! 5
%html
%head
  %title Bugbook
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  //DataTables CSS
  = stylesheet_link_tag "https://cdn.datatables.net/1.10.3/css/jquery.dataTables.css"
  //jQuery
  = javascript_include_tag "https://code.jquery.com/jquery-1.10.2.min.js"
  //DataTables
  = javascript_include_tag "https://cdn.datatables.net/1.10.3/js/jquery.dataTables.js"
  = csrf_meta_tags

%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand= link_to "Bugbook", root_path

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= image_tag current_user.gravatar_url, {height: 50}
          %li= link_to current_user.email, edit_user_registration_path
          %li= link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Sign Up', new_user_registration_path
          %li= link_to 'Login', new_user_session_path

  .container
    - if flash[:notice]
      .alert.alert-success.alert-dismissible
        %button.close{ type: "button", data: { dismiss: "alert" }} ×
        = flash[:notice]
    - elsif flash[:error]
      .alert.alert-danger.alert-dismissible
        %button.close{ type: "button", data: { dismiss: "alert" }} ×
        = flash[:error]
    - elsif flash[:alert]
      .alert.alert-danger.alert-dismissible
        %button.close{ type: "button", data: { dismiss: "alert" }} ×
        = flash[:alert]

    = yield
